/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.nav_links {
  margin: 0;
}

.nav_links li {
  display: inline-block;
}

.nav_links li a {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: white;
  padding: 0 50px;
  text-decoration: none;
  text-align: center;
}

.nav_links li a:hover {
  color: #273d55;
}

.nav_links {
  display: flex;
  justify-content: center;
}

#index-banner {
  width: 100%;
  height: 250px;
  background-color: #273d55;
  overflow: hidden;
  margin-bottom: 0;
}

h1 {
  color: #8eb1c5;
  font-family: 'Poiret One', cursive;
  font-size: 65px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

p.webdev {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #aaaaaa;
  text-transform: uppercase;
  text-align: center;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 700px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

#leslie {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 10px solid #aaaaaa;
}

.header{
  font-size: 50px;
  color: #273d55;
  font-family: 'Poppins', sans-serif;
  /*text-transform:  uppercase;*/
 }

.about {
  font-size: 20px;
  text-align: left;
  color: #273d55;
  margin-right: 5em;
}

.aboutMe {
  font-size: 20px;
  text-align: center;
  color: #273d55;
}

.portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px;
}

.simone {
  color: #273d55;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  font-family: 'Lobster', cursive;
  padding-top: 10px;
  margin: 0 0 20px 0;
}

.simone:hover {
  color: #f93eda;
}

.neighborfood {
  font-family: 'Cabin Sketch', cursive;
  color: #273d55;
  font-size: 3em;
}

.neighborfood:hover {
    color: rgb(80, 122, 15);
}

.orderUp {
  font-family: 'Pacifico', cursive;
  color: #273d55;
  font-size: 3em;
}

.orderUp:hover {
  color: #6B7FD7;
}

.portfolioText {
  text-align: center;
}

.contact {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: center;
}

ul {
  white-space: nowrap;
}

ul, li {
  list-style: none;
  display: inline;
}

.social {
  width: 20%;
}

.top {
  text-align: center;
  color: #8eb1c5;
  font-size: 30px;
}

.top:hover {
  color: white;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  h1 {
    font-size: 50px;
  }

  .nav_links li a {
    font-size: 20px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  h1 {
    font-size: 30px;
  }

  .nav_links li a {
    font-size: 15px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  background-color: #273d55;
  margin: 0;
}
