/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background-color: #273d55;
}

.nav_links {
  margin: 0;
}

.nav_links li {
  display: inline-block;
}

.nav_links li a {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: white;
  padding: 0 50px;
  text-decoration: none;
  text-align: center;
}

.nav_links li a:hover {
  color: #273d55;
  transition: 1s;
}

.nav_links {
  display: flex;
  justify-content: center;
}

#index-banner {
  width: 100%;
  height: 250px;
  background-color: #273d55;
  overflow: hidden;
  margin-bottom: 0;
}

h1 {
  color: #8eb1c5;
  font-family: 'Poiret One', cursive;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  transition: 1s;
}

h1:hover {
  transition: 1s;
  font-size: 50px;
}

  h1:hover {
    transition: 1s;
    font-size: 55px;
  }


p.webdev {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #aaaaaa;
  text-transform: uppercase;
  text-align: center;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 700px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

#leslie {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 10px solid #aaaaaa;
}

.header{
  font-size: 50px;
  color: #273d55;
  font-family: 'Poppins', sans-serif;
  /*text-transform:  uppercase;*/
 }

.about {
  font-size: 20px;
  text-align: left;
  color: white;
  margin-right: 5em;
}

.aboutMe {
  font-size: 20px;
  text-align: center;
  color: white;
}

.portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px;
}

.portfolioBlock {
  margin: 3em;
}

.simone {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Lobster', cursive;
  padding-top: 10px;
  margin: 0 0 20px 0;
  display: block;
  transition: 1s;
}

.simone:hover {
  color: #f93eda;
  transition: 1s;
  font-size: 3em;
}

.deets {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 10px;
}

/*#some-element {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#some-div:hover #some-element {
  display: block;
}*/

/*#some-element:hover {
  display: none;
}
*/
.neighborfood {
  font-family: 'Cabin Sketch', cursive;
  color: white;
  font-size: 2em;
  transition: 1s;
}

.neighborfood:hover {
  color: rgb(80, 122, 15);
  transition: 1s;
  font-size: 3em;
}

.orderUp {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 2em;
  transition: 1s;
}

.orderUp:hover {
  color: #6B7FD7;
  transition: 1s;
  font-size: 2.5em;
}

.freeSpot {
  color: white;
  font-size: 2em;
  transition: 1s;
  font-family: 'Raleway', sans-serif;
}

.freeSpot:hover{
  color: #FFE74C;
  transition: 1s;
  font-size: 3em;
}

.portfolioText {
  text-align: center;
}

.contact {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: center;
}

ul {
  white-space: nowrap;
}

ul, li {
  list-style: none;
  display: inline;
}

.social {
  width: 20%;
}

.top {
  text-align: center;
  color: #8eb1c5;
  font-size: 30px;
}

.top:hover {
  color: white;
}


.social {
  transition: 1s;
}


@media only screen and (max-width : 1070px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  h1 {
    font-size: 40px;
  }

  h1:hover {
    transition: 1s;
    font-size: 45px;
  }

  .nav_links li a {
    font-size: 20px;
    padding: 0 20px;
  }

  .flex-s {
    display: flex;
    flex-direction: column; /* Stack on top */
  }

  .portfolioBlock {
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  h1 {
    font-size: 20px;
  }

  .nav_links li a {
    font-size: 15px;
  }

  p.webdev {
    font-size: 20px;
  }

  #index-banner {
  height: 150px;
}

  .flex-s {
    display: flex;
    flex-direction: column; /* Stack on top */
    align-items: center;
  }

  .portfolioBlock {
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
  }

  p.neighborfood {
    margin-right: 5px;
  }

  .social {
    width: 18%;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  background-color: #273d55;
  margin: 0;
}
